go 1.26.1

toolchain go1.26.1

use (
	.
	./authx
	./authx/fx
	./authx/http/echo
	./authx/http/fiber
	./authx/http/gin
	./authx/http/std
	./clientx
	./collectionx
	./configx
	./configx/fx
	./dbx
	./dbx/migrate
	./dbx/sqltmplx
	./dbx/sqltmplx/validate
	./dbx/sqltmplx/validate/mysqlparser
	./dbx/sqltmplx/validate/postgresparser
	./dbx/sqltmplx/validate/sqliteparser
	./dix
	./docs
	./eventx
	./eventx/fx
	./examples/authx
	./examples/clientx
	./examples/dbx
	./examples/dix
	./examples/eventx
	./examples/httpx
	./examples/kvx
	./examples/logx
	./examples/observabilityx
	./examples/sqltmplx
	./httpx
	./httpx/adapter/echo
	./httpx/adapter/fiber
	./httpx/adapter/gin
	./httpx/adapter/std
	./httpx/fx
	./httpx/middleware
	./httpx/websocket
	./kvx
	./kvx/adapter/redis
	./kvx/adapter/valkey
	./logx
	./logx/fx
	./observabilityx
	./pkg/fx
	./pkg/randomport
)
